:root {
    --Rosewater: 	#f5e0dc;
	--Flamingo:	    #f2cdcd;
	--Pink:      	#f5c2e7;
	--Mauve:    	#cba6f7;
	--Red:          #f38ba8;
	--Maroon:   	#eba0ac;
	--Peach:    	#fab387;
	--Yellow:   	#f9e2af;
	--Green:    	#a6e3a1;
	--Teal:        	#94e2d5;
	--Sky:  	    #89dceb;
	--Sapphire: 	#74c7ec;
	--Blue:        	#89b4fa;
	--Lavender: 	#b4befe;
	--Text: 	    #cdd6f4;
	--Subtext1: 	#bac2de;
	--Subtext0: 	#a6adc8;
	--Overlay2: 	#9399b2;
	--Overlay1: 	#7f849c;
	--Overlay0: 	#6c7086;
	--Surface2: 	#585b70;
	--Surface1: 	#45475a;
	--Surface0: 	#313244;
	--Base: 	    #1e1e2e;
	--Mantle:	    #181825;
	--Crust: 	    #111111;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--Base);
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0.5em;
    font-size: 4em;
    font-weight: lighter;
    letter-spacing: 0.05em;
    color: var(--Text);
}

.newGroceryForm {
    display: flex;
}

#newGrocery {
    background-color: white;
    color: var(--Mantle);
    padding: 0.5em;
    width: 20em;
    font-size: 1.5em;
    border-radius: 0.25em 0 0 0.25em;
}

#addBtn {
    background-color: var(--Blue);
    color: var(--background);
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 0.25em 0.25em 0;
}

#addBtn:hover {
    background-color: var(--Teal);
    font-weight: bolder;
}

#groceryList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    border-radius: 0.5em;
    background-color: var(--Surface0);
    color: var(--Mantle);
}

.groceryItem {
    background-color: white;
    color: var(--Base);
    margin: 0.5em;
    width: 24em;
    text-align: center;
    padding: 0.5em;
    border-radius: 0.25em;
    text-align: center;
}

.groceryItem:hover {
    background-color: var(--Red);
    cursor: pointer;
}